# Entorno virtual del Backend
backend/venv/
backend/*.venv

# Archivos de caché de Python
backend/__pycache__/
backend/*/__pycache__/
*.py[cod]

# Base de datos
backend/*.db
backend/*.sqlite3

# Archivos de configuración del editor/IDE
.vscode/
.idea/

# Archivos del sistema operativo
.DS_Store
Thumbs.db
